@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: none; }

html, body {
  display: block; }

body, p, ul {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1468305369_9559934.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1468305369_9559934.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1468305369_9559934.woff") format("woff"), url("//at.alicdn.com/t/font_1468305369_9559934.ttf") format("truetype"), url("//at.alicdn.com/t/font_1468305369_9559934.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont, .icon-wechat,
.icon-qq {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: '\e600'; }

.icon-qq:before {
  content: '\e601'; }

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体"; }

img {
  vertical-align: top; }

body {
  min-width: 1300px; }

.hide, .template {
  display: none; }

.disabled {
  opacity: .6; }

.font-14 {
  font-size: 1.4rem; }

.font-16 {
  font-size: 1.6rem; }

.font-18 {
  font-size: 1.8rem; }

.font-20 {
  font-size: 2rem; }

.color-grey {
  color: #999; }

.color-red {
  color: #f00; }

.gn-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1300px;
  height: 6rem;
  border-bottom: none;
  background: none;
  z-index: 2; }
  .gn-header.scrolled {
    background: #013281 linear-gradient(-180deg, rgba(38, 37, 44, 0.85) 0%, rgba(25, 24, 29, 0) 100%); }
  .gn-header .gn-header-left {
    float: left;
    width: 50%;
    line-height: 6rem;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    padding-left: 3rem; }
  .gn-header .gn-header-center {
    float: left;
    width: 30%;
    line-height: 6rem;
    text-align: center; }
    .gn-header .gn-header-center img {
      margin-top: 1.5rem;
      height: 3rem;
      width: auto; }
  .gn-header .gn-header-right {
    float: left;
    width: 20%;
    line-height: 6rem;
    text-align: right;
    padding-right: 3rem; }
    .gn-header .gn-header-right button {
      height: 3rem;
      width: 13rem;
      border-radius: .5rem;
      font-size: 1.4rem;
      line-height: normal;
      background: none;
      border: 2px solid #ccc;
      color: #ccc; }
      .gn-header .gn-header-right button.username {
        display: none;
        width: 16rem;
      }

.gn-gallery {
  overflow: hidden; }
  .gn-gallery ul {
    width: 500%;
    height: 50rem;
    position: relative; }
  .gn-gallery li {
    width: 20%;
    height: 50rem;
    float: left; }
  .gn-gallery img {
    width: 100%;
    height: 50rem; }
  .gn-gallery .slide-page {
    position: absolute;
    right: 2rem;
    margin-top: -3rem; }
    .gn-gallery .slide-page span {
      padding: 3px 8px;
      background-color: #fff;
      margin-left: .2rem;
      border-radius: 3px; }
      .gn-gallery .slide-page span:hover, .gn-gallery .slide-page span.active {
        background-color: #ccc; }

.gn-nav-bar {
  width: 100%;
  min-width: 1300px;
  background-color: #fff;
  line-height: 3.8rem;
  vertical-align: top;
  padding-left: 3rem;
  font-size: 1.8rem; }
  .gn-nav-bar.fix {
    position: fixed;
    top: 6rem;
    z-index: 20; }
  .gn-nav-bar a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 8rem;
    text-align: center;
    color: #06e; }
    .gn-nav-bar a.active {
      border-bottom: .3rem solid #06e; }
  .gn-nav-bar img {
    vertical-align: top;
    height: 2.8rem;
    margin-top: .4rem;
    width: auto; }
  .gn-nav-bar .search-groups {
    display: inline-block; }
  .gn-nav-bar .search-input {
    position: relative;
    width: 0;
    line-height: 3rem;
    height: 2.8rem;
    vertical-align: .1rem;
    border-radius: 5rem;
    border: 1px solid #ccc;
    padding: 0 1rem;
    font-size: 1.6rem;
    opacity: 0;
    z-index: -1; }
    .gn-nav-bar .search-input.active {
      width: 20rem;
      opacity: 1;
      transition: width 750ms ease-in-out 0ms,
 opacity 500ms ease-in 250ms;
      -webkit-transition: width 750ms ease-in-out 0ms,
 opacity 500ms ease-in 250ms;
      z-index: auto; }
  .gn-nav-bar .search-btn {
    display: none;
    width: 6rem;
    height: 3.8rem;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: #06e; }

.gn-nav-bar.fix + .gn-body .product-list,
.gn-nav-bar.fix + .gn-body .product-detail,
.gn-nav-bar.fix + .gn-body .enquiry,
.gn-nav-bar.fix + .gn-body .about-km {
  padding-top: 14.4rem; }

.gn-body {
  min-height: 80rem;
  background-color: #f9f9f9;
  padding-left: 8rem;
  padding-right: 12rem;
  padding-bottom: 8rem;
  padding-top: 2rem; }

.gn-footer {
  width: 100%;
  min-width: 1300px;
  height: 8rem;
  background-color: #013281;
  bottom: 0; }
  .gn-footer .qr-code {
    float: left;
    width: 33%;
    text-align: right;
    padding-right: 4rem;
    margin-top: -5rem; }
    .gn-footer .qr-code img {
      position: relative;
      bottom: 0;
      height: 12rem; }
  .gn-footer .text-wrap {
    float: left;
    padding-top: 1rem; }
    .gn-footer .text-wrap p {
      line-height: 3rem;
      font-size: 1.4rem;
      color: #fff; }

.gn-service {
  display: none;
  position: fixed;
  padding-top: .5rem;
  padding-bottom: .5rem;
  right: 1rem;
  top: 50%;
  margin-top: -13.5rem;
  width: 10rem;
  height: 27rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eee; }
  .gn-service p {
    font-size: 1.4rem;
    line-height: 1.4; }
  .gn-service .wx .icon-wechat {
    font-size: 4rem;
    color: #999; }
  .gn-service .wx .qr-code {
    width: 90%;
    border: 1px solid #eee;
    padding: .2rem; }
  .gn-service .qq a {
    color: inherit;
    text-decoration: none; }
  .gn-service .qq .icon-qq {
    font-size: 3rem;
    color: #06c; }

.product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem; }
  .product-list.sale .content p:last-child {
    display: none; }
  .product-list .product-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12rem;
    -moz-box-flex: 1;
    -moz-flex: 1 12rem;
    -ms-flex: 1 12rem;
    flex: 1 12rem;
    min-width: 17rem;
    max-width: 17rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background-color: #fff; }
    .product-list .product-item .content {
      padding: 1.5rem 1rem;
      text-align: center; }
      .product-list .product-item .content .p-img {
        width: 80%;
        height: 10rem; }
      .product-list .product-item .content .p-name {
        margin-top: .5rem;
        height: 5rem;
        overflow: hidden; }

.page-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: 1rem;
  margin-right: 4rem; }
  .page-bar li {
    display: inline-block;
    background-color: #fff;
    padding: 5px 12px;
    font-size: 16px;
    color: #46f;
    border-style: solid;
    border-color: #46f;
    border-width: 1px;
    border-left-width: 0; }
    .page-bar li.active {
      background-color: #46f;
      color: #fff; }
  .page-bar .page-prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-width: 1px; }
  .page-bar .page-next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .page-bar .page-go {
    border: none;
    background-color: transparent;
    color: #444; }
    .page-bar .page-go input {
      width: 35px;
      padding: 0 5px;
      border-radius: .3em;
      border: 1px solid #666;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px; }
    .page-bar .page-go .btn-sm {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 22px;
      outline: none; }

.pd-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30rem; }
  .pd-header .h-left {
    width: 30%;
    height: 30rem;
    padding: 1rem;
    background-color: #fff; }
    .pd-header .h-left img {
      max-width: 100%;
      max-height: 100%; }
  .pd-header .h-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    height: 30rem;
    margin-left: 1rem; }
    .pd-header .h-right .hr-head, .pd-header .h-right .hr-body, .pd-header .h-right .hr-foot {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: #fff; }
    .pd-header .h-right .hr-head {
      font-size: 2.4rem;
      padding: 1rem;
      line-height: 2; }
    .pd-header .h-right .hr-body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 1rem;
      margin-top: .5rem; }
      .pd-header .h-right .hr-body p {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        min-width: 50%;
        max-width: 50%;
        font-size: 1.6rem; }
        .pd-header .h-right .hr-body p span:first-child {
          min-width: 6.4rem;
          margin-right: 1rem;
          color: #0273e1; }
    .pd-header .h-right .hr-foot {
      font-size: 1.6rem;
      padding: 1rem;
      margin-top: .5rem;
      line-height: 7rem; }

.pd-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem; }
  .pd-footer .pf-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    height: 20rem;
    padding: 1rem;
    overflow: hidden; }
  .pd-footer .pf-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 1rem;
    max-width: 25rem;
    height: 20rem;
    padding: 1rem;
    background-color: #fff;
    text-align: center; }
    .pd-footer .pf-right img {
      height: 100%;
      object-fit: cover; }

.product-req-panes {
  height: 46rem;
  padding: 2rem;
  background-color: #fff; }
  .product-req-panes h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3rem; }
  .product-req-panes .req-top {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .product-req-panes .req-bottom {
    height: 10rem;
    line-height: 10rem;
    margin-top: 2rem;
    text-align: right;
    padding-right: 2rem; }
    .product-req-panes .req-bottom button {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      margin-right: 2rem; }
  .product-req-panes .left-pane {
    width: 50%;
    padding-right: 3rem; }
  .product-req-panes .right-pane {
    width: 50%;
    background-color: #fff; }
    .product-req-panes .right-pane .upload-btn {
      font-size: 2rem;
      padding: .8rem 1rem;
      width: 60%;
      min-width: 18rem;
      text-align: center;
      margin: 8rem auto auto 20%;
      border-radius: .5rem;
      border: 0;
      background-color: cornflowerblue;
      color: #fff; }
    .product-req-panes .right-pane progress {
      display: none;
      width: 60%;
      margin-left: 20%;
      margin-top: 8rem;
      height: 20px;
      border: 1px solid #0064B4;
      background-color: #d9edf7;
      color: #0064B4;
      /*IE10*/ }
      .product-req-panes .right-pane progress::-moz-progress-bar {
        background: #d9edf7; }
      .product-req-panes .right-pane progress::-webkit-progress-bar {
        background: #d9edf7; }
      .product-req-panes .right-pane progress::-webkit-progress-value {
        background: #0064B4; }
  .product-req-panes .input-field {
    height: 5rem;
    font-size: 1.4rem;
    line-height: 4.9rem;
    padding-left: .3rem;
    overflow: hidden; }
    .product-req-panes .input-field input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #ccc;
      height: 5rem;
      line-height: 7rem; }

.about-km .wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  line-height: 1.4; }
  .about-km .wrapper p {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #111; }

.modal-dialog .modal-content {
  width: 400px;
  margin-left: 100px; }

.modal-dialog .has-account,
.modal-dialog .no-account {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: right;
  color: cornflowerblue; }

.modal-dialog .form-group {
  height: 40px; }
  .modal-dialog .form-group label {
    padding-left: 0;
    font-weight: normal; }
  .modal-dialog .form-group input {
    line-height: 40px;
    height: 40px; }
  .modal-dialog .form-group .gain-code-btn {
    height: 40px;
    line-height: 28px; }

.alert {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 18px; }
  .alert.fade.in {
    display: block;
    position: fixed;
    z-index: 10000; }

.p-sort-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem; }
  .p-sort-list .p-sort-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12rem;
    -moz-box-flex: 1;
    -moz-flex: 1 12rem;
    -ms-flex: 1 12rem;
    flex: 1 12rem;
    min-width: 17rem;
    max-width: 17rem;
    text-align: center;
    padding: 3rem;
    border: 1px solid #ccc; }
    .p-sort-list .p-sort-item img {
      width: 70%; }
    .p-sort-list .p-sort-item p {
      margin-top: 2rem;
      line-height: 30px;
      font-size: 20px; }

.p-brand .p-b-head p {
  font-size: 16px;
  line-height: 64px; }
  .p-brand .p-b-head p img {
    width: 64px;
    height: 64px;
    border: 1px solid #ccc; }

.p-brand-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }
  .p-brand-list .p-brand-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 20%;
    -moz-box-flex: 1;
    -moz-flex: 1 20%;
    -ms-flex: 1 20%;
    flex: 1 20%;
    min-width: 18rem;
    max-width: 18rem;
    padding: 1rem; }
    .p-brand-list .p-brand-item img {
      width: 100%;
      height: 9rem;
      padding: 1.2rem;
      background-color: #fff;
      border-radius: .5rem;
      border: 1px solid #ccc;
      object-fit: cover; }

.p-series-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem; }
  .p-series-list .p-series-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.3%;
    -moz-box-flex: 1;
    -moz-flex: 1 33.3%;
    -ms-flex: 1 33.3%;
    flex: 1 33.3%;
    min-width: 17rem;
    max-width: 33.3%;
    text-align: center;
    padding: 1rem; }
    .p-series-list .p-series-item p {
      border-radius: 5px;
      padding: 1rem;
      border: 1px solid #ccc;
      background-color: #fff; }

.my-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .my-center .me-nav {
    -webkit-box-flex: 0;
    -webkit-flex: 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 20%;
    -ms-flex: 0 20%;
    flex: 0 20%;
    padding: 0 15px; }
    .my-center .me-nav li {
      line-height: 80px;
      text-align: center;
      background-color: #f4f4f4;
      border-bottom: 1px solid #ddd; }
      .my-center .me-nav li:last-child {
        border-bottom: 0; }
      .my-center .me-nav li.active {
        background-color: #fff; }
      .my-center .me-nav li img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 25px;
        margin-right: 5px; }
  .my-center .me-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 80%;
    -moz-box-flex: 0;
    -moz-flex: 0 80%;
    -ms-flex: 0 80%;
    flex: 0 80%; }
  .my-center .m-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 720px; }
  .my-center .m-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 10%;
    -moz-box-flex: 0;
    -moz-flex: 0 10%;
    -ms-flex: 0 10%;
    flex: 0 10%;
    margin-left: 0;
    margin-right: 0;
    height: 80px;
    line-height: 80px;
    background-color: #fff; }
    .my-center .m-header .m-h-left {
      padding-left: 20px;
      font-size: 16px;
      color: #2e6bdd; }
    .my-center .m-header .m-h-right {
      text-align: center; }
      .my-center .m-header .m-h-right img {
        position: relative;
        margin-top: 10px;
        padding: 10px;
        width: 60px;
        height: 60px;
        background-color: #618df0;
        z-index: 1; }
        .my-center .m-header .m-h-right img:first-child:last-child {
          background-color: transparent;
          margin-top: 15px;
          width: 50px;
          height: 50px;
          margin-left: 60px; }
      .my-center .m-header .m-h-right button {
        border: 1px solid #ccc;
        line-height: 40px;
        padding: 2px 16px;
        margin-left: -5px;
        background-color: #fff; }

.me-point-wrap header + dl {
  margin-top: 15px; }
.me-point-wrap dl {
  background-color: #fff;
  color: #060606;
  margin-bottom: 0;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #ccc; */
}
.me-point-wrap dl dt {
  line-height: 60px;
  padding-left: 20px;
  font-size: 16px; }
.me-point-wrap dl dd {
  line-height: 30px;
  padding-left: 20px;
  font-size: 14px; }


.me-order-wrap .m-o-list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 80%;
  -ms-flex: 0 80%;
  flex: 0 80%; }
  .me-order-wrap .m-o-list .m-o-item {
    height: 80px;
    margin-top: 15px;
    background-color: #fff; }
    .me-order-wrap .m-o-list .m-o-item.active {
      height: auto; }
      .me-order-wrap .m-o-list .m-o-item.active .m-o-detail {
        display: block; }
  .me-order-wrap .m-o-list .m-o-info {
    margin-left: 0;
    margin-right: 0; }
    .me-order-wrap .m-o-list .m-o-info div {
      padding: 0; }
    .me-order-wrap .m-o-list .m-o-info .col-xs-1 {
      line-height: 80px;
      text-align: center; }
    .me-order-wrap .m-o-list .m-o-info .col-xs-8 {
      font-size: 18px;
      line-height: 80px;
      padding-left: 0; }
    .me-order-wrap .m-o-list .m-o-info .col-xs-3 {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 30px;
      text-align: center; }
    .me-order-wrap .m-o-list .m-o-info img {
      margin-top: 30px;
      height: 20px;
      background-color: #fff;
      margin-left: 10px; }
  .me-order-wrap .m-o-list .m-o-detail {
    display: none; }
    .me-order-wrap .m-o-list .m-o-detail > dl {
      border-top: 1px solid #eee;
      padding-left: 8.33%; }
      .me-order-wrap .m-o-list .m-o-detail > dl dt, .me-order-wrap .m-o-list .m-o-detail > dl dd {
        display: inline; }
      .me-order-wrap .m-o-list .m-o-detail > dl dd + dt:before {
        content: '\A';
        white-space: pre; }
      .me-order-wrap .m-o-list .m-o-detail > dl > dt {
        font-size: 20px;
        line-height: 40px; }
      .me-order-wrap .m-o-list .m-o-detail > dl > dd {
        padding-left: 10px; }
      .me-order-wrap .m-o-list .m-o-detail > dl dd > dl {
        margin-bottom: 0; }
  .me-order-wrap .m-o-list .m-o-req {
    margin-bottom: 0; }
  .me-order-wrap .m-o-list .m-o-req-reply {
    margin-bottom: 0;
    padding-right: 20px; }
    .me-order-wrap .m-o-list .m-o-req-reply button {
      float: right;
      margin-top: 5px;
      font-size: 14px;
      padding: 0 16px;
      border-radius: 5px;
      border: 0;
      line-height: 28px; }
    .me-order-wrap .m-o-list .m-o-req-reply .mor-item {
      margin-left: 0;
      margin-right: 0;
      line-height: 32px;
      border-bottom: 1px solid #ccc; }

.me-order-wrap .p-g {
  text-align: right;
  margin-top: 20px;
  padding-right: 20px; }
  .me-order-wrap .p-g span {
    display: inline-block;
    width: 60px;
    line-height: 32px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; }
    .me-order-wrap .p-g span.js-o-page-index {
      width: 50px;
      line-height: 30px;
      border: 1px solid #ccc; }

.me-quote-wrap .q-content {
  margin-top: 15px;
  padding: 20px;
  background-color: #fff; }
  .me-quote-wrap .q-content p {
    margin-bottom: 10px; }
  .me-quote-wrap .q-content h4 {
    margin-top: 20px; }
  .me-quote-wrap .q-content .q-p-list .q-p-item {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #ccc; }
    .me-quote-wrap .q-content .q-p-list .q-p-item:last-child {
      border-bottom: 0; }
    .me-quote-wrap .q-content .q-p-list .q-p-item div {
      margin-bottom: 10px; }
  .me-quote-wrap .q-content .fb {
    margin-top: 20px; }
  .me-quote-wrap .q-content textarea {
    display: block;
    margin-left: 15px;
    padding: 5px 8px;
    width: 80%;
    height: 80px;
    resize: none;
    border-radius: 5px; }
  .me-quote-wrap .q-content button {
    margin-top: 20px;
    margin-left: 3%;
    width: 20%;
    height: 38px;
    border: none;
    border-radius: 5px; }



.me-job-wrap .m-j-list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 80%;
  -ms-flex: 0 80%;
  flex: 0 80%; }
.me-job-wrap .m-j-list .m-j-item {
  /*height: 80px;*/
  margin-top: 15px;
  background-color: #fff; }
.me-job-wrap .m-j-list {
  margin-top: 0px; }
.me-job-wrap .m-j-list .m-j-item {
  /*height: 80px;*/
  margin-top: 15px;
  background-color: #fff; }
.me-job-wrap .m-j-list .m-j-info {
  margin-left: 0;
  margin-right: 0; }
.me-job-wrap .m-j-list .m-j-info div {
  padding: 0; }
.me-job-wrap .m-j-list .m-j-info .col-xs-8 .js-j-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.me-job-wrap .m-j-list .m-j-info .col-xs-8 .js-j-jid {
  margin: 5px 5px 5px 20px;
  font-size: 16px;
  color: #666;
}
.me-job-wrap .m-j-list .m-j-info .col-xs-8 .js-j-time {
  margin: 5px 5px 10px 20px;
  font-size: 16px;
  color: #666;
}
.me-job-wrap .m-j-list .m-j-info .col-xs-3.f-right{
  width:33.333%;
}
.me-job-wrap .m-j-list .m-j-info .col-xs-3 .js-j-examineStatus {
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  background-color: #013281;
  color: #fff;
  right: 0;
  top: 20px;
  font-size: 16px;
  border-radius: 35px 0 0 35px;
}
.me-job-wrap .m-j-list .m-j-info .col-xs-3 .js-j-money {
  position: absolute;
  top: 70px;
  right: 50px;
  font-size: 26px;
  color: #FF4840;
  font-weight: bold;
}

.me-jobDetail-wrap .jd-baseinfo {
  margin-top: 15px;
  padding:20px 0px 20px 5px;
  background-color: #fff;
}

.me-jobDetail-wrap .col-xs-8 .js-jd-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.me-jobDetail-wrap .col-xs-8 .js-jd-jid {
  margin: 5px 5px 5px 0px;
  font-size: 16px;
  color: #666;
}
.me-jobDetail-wrap .col-xs-8 .js-jd-time {
  margin: 5px 5px 10px 0px;
  font-size: 16px;
  color: #666;
}
.me-jobDetail-wrap .col-xs-3.f-right{
  width:33.333%;
}
.me-jobDetail-wrap .col-xs-3 .js-jd-examineStatus {
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  background-color: #013281;
  color: #fff;
  right: 0;
  top: 10px;
  font-size: 16px;
  border-radius: 35px 0 0 35px;
}
.me-jobDetail-wrap .col-xs-3 .js-jd-money {
  position: absolute;
  top: 60px;
  right: 50px;
  font-size: 26px;
  color: #FF4840;
  font-weight: bold;
}

.me-jobDetail-wrap .jd-content {
  margin-top: 15px;
  padding: 0 0 0 20px;
  background-color: #fff; }
.me-jobDetail-wrap .jd-content p {
  margin-bottom: 10px; }
.me-jobDetail-wrap .jd-content h4 {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
.me-jobDetail-wrap .jd-content .m-jd-list {
  text-indent:25px;
  font-size: 16px;
}


.me-job-wrap .p-g {
  text-align: right;
  margin-top: 20px;
  padding-right: 20px; }
.me-job-wrap .p-g span {
  display: inline-block;
  width: 60px;
  line-height: 32px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer; }
.me-job-wrap .p-g span.js-page-index {
  width: 50px;
  line-height: 30px;
  border: 1px solid #ccc; }


.me-invoice-wrap .m-i-list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 90%;
  -ms-flex: 0 90%;
  flex: 0 90%;
  height: 90%; }
  .me-invoice-wrap .m-i-list .m-i-item {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
    height: 60px;
    line-height: 60px;
    background-color: #fff; }
    .me-invoice-wrap .m-i-list .m-i-item .col-xs-11 {
      padding-left: 20px; }
    .me-invoice-wrap .m-i-list .m-i-item .col-xs-1 {
      padding: 0; }
      .me-invoice-wrap .m-i-list .m-i-item .col-xs-1 img {
        margin-left: 15px;
        vertical-align: middle; }

.me-invoice-wrap .m-i-detail {
  margin-top: 15px;
  background-color: #fff;
  padding: 20px 20px 20px 30px; }
  .me-invoice-wrap .m-i-detail dt, .me-invoice-wrap .m-i-detail dd {
    display: inline-block;
    line-height: 28px;
    margin-bottom: 15px; }
  .me-invoice-wrap .m-i-detail dt {
    width: 15%;
    text-align: justify;
    max-width: 100px; }
  .me-invoice-wrap .m-i-detail dd {
    width: 80%;
    width: calc(100% - 120px); }
    .me-invoice-wrap .m-i-detail dd input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ccc; }
  .me-invoice-wrap .m-i-detail .require:before {
    content: '*';
    position: absolute;
    font-size: 18px;
    margin-left: -10px;
    margin-top: 3px;
    color: red; }
  .me-invoice-wrap .m-i-detail .m-i-d-foot {
    position: relative;
    width: 100%;
    height: 80px; }
    .me-invoice-wrap .m-i-detail .m-i-d-foot i {
      position: relative;
      top: 4px;
      margin-right: 3px;
      margin-left: 3px;
      color: red;
      font-size: 18px; }
    .me-invoice-wrap .m-i-detail .m-i-d-foot button {
      width: 120px;
      line-height: 32px;
      border: 0;
      border-radius: 5px;
      position: absolute;
      right: 10px; }

.me-contact-wrap main {
  position: relative;
  margin-top: 15px;
  background-color: #fff;
  padding: 20px 150px; }
  .me-contact-wrap main textarea {
    width: 100%;
    height: 360px;
    border-radius: 5px;
    padding: 5px 8px;
    resize: none; }
  .me-contact-wrap main textarea + img {
    position: absolute;
    margin-top: -40px;
    right: 160px; }
  .me-contact-wrap main button {
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    line-height: 38px;
    border-radius: 5px;
    border: none; }

.me-message-wrap .m-m-list {
  margin-top: 15px; }

.me-message-wrap .m-m-item {
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  .me-message-wrap .m-m-item:first-child {
    margin-top: 15px; }
  .me-message-wrap .m-m-item:last-child {
    border-bottom: 0; }
  .me-message-wrap .m-m-item p {
    padding-left: 20px;
    padding-right: 20px; }
    .me-message-wrap .m-m-item p:first-child {
      line-height: 40px;
      margin-left: 0;
      margin-right: 0; }
      .me-message-wrap .m-m-item p:first-child span {
        padding-left: 0;
        padding-right: 0; }
        .me-message-wrap .m-m-item p:first-child span:first-child:before {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: blue;
          border-radius: 50%;
          vertical-align: 2px; }
        .me-message-wrap .m-m-item p:first-child span:last-child {
          text-align: right; }
    .me-message-wrap .m-m-item p:last-child {
      height: 60px;
      line-height: 20px; }

.me-message-wrap .p-g {
  text-align: right;
  margin-top: 20px;
  padding-right: 20px; }
  .me-message-wrap .p-g span {
    display: inline-block;
    width: 60px;
    line-height: 32px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; }
    .me-message-wrap .p-g span.js-page-index {
      width: 50px;
      line-height: 30px;
      border: 1px solid #ccc; }

.me-reset-pwd-wrap .pwd-wrap {
  margin-top: 15px;
  padding: 80px 100px;
  background-color: #fff;
  min-height: 500px; }
  .me-reset-pwd-wrap .pwd-wrap input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
    margin-bottom: 10px; }
  .me-reset-pwd-wrap .pwd-wrap .gain-code-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .me-reset-pwd-wrap .pwd-wrap .gain-code-wrap input {
      -webkit-box-flex: 0;
      -webkit-flex: 0 80%;
      -moz-box-flex: 0;
      -moz-flex: 0 80%;
      -ms-flex: 0 80%;
      flex: 0 80%; }
    .me-reset-pwd-wrap .pwd-wrap .gain-code-wrap button {
      -webkit-box-flex: 0;
      -webkit-flex: 0 20%;
      -moz-box-flex: 0;
      -moz-flex: 0 20%;
      -ms-flex: 0 20%;
      flex: 0 20%;
      max-height: 38px;
      margin-left: 15px;
      max-width: 150px;
      line-height: 32px;
      border-radius: 5px;
      border: 0; }
  .me-reset-pwd-wrap .pwd-wrap .confirm-btn {
    margin-top: 50px;
    width: 30%;
    margin-left: 35%;
    line-height: 38px;
    border-radius: 5px;
    border: 0; }

.account-wrap header + dl {
  margin-top: 15px; }

.account-wrap dl {
  background-color: #fff;
  color: #060606;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; }
  .account-wrap dl:last-child {
    border-bottom: 0; }
  .account-wrap dl dt {
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px; }
  .account-wrap dl dd {
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px; }
