<ion-view view-title="任务详情" id="tackDetails" hide-tab="true">
        <div id="addPage">
            <!-- 头部 -->
        <ion-header-bar align-title="center" class="kunmaColorBg calendar-Zindex">
            <a class="buttons left">
                <i class="icon ion-chevron-left"></i>
            </a>
            <h1 class="title">任务</h1>
        </ion-header-bar>
        <ion-content >
            <div class="tackSuccess">
                <i class="icon ion-checkmark-circled tackSuccess-icon"></i>
                <div class="f-size20 tackSuccess-title">
                    操作成功
                </div>
                <div class="f-size14 c-color99 tackSuccess-subtit">
                    领取任务成功
                </div>
                <button ui-sref="tab.MyTaskList" class="button kunmaColorBg submit">我的任务</button>
                <button ui-sref="tab.index" class="button button-stable submit">返回首页</button>
            </div>
        </ion-content>
        </div>
</ion-view>
