<ion-view view-title="公司账号" id="bank-info">
    <ion-content>
        <h3>银行账号信息</h3>
        <div class="title">
            <span class="line"></span
                    ><span>对公账号</span
                ><span class="line"></span>
        </div>
        <div class="account-info">
            <p>名 称：上海坤玛机电有限公司</p>
            <p>开户行：渣打银行（中国）有限公司上海分行</p>
            <p>账 号：501510705921</p>
            <p>渣打行号：671290000017</p>
            <span class="line_hr"> </span>
            <p>名 称：上海坤玛机电有限公司</p>
            <p>开户行：交行市北工业区支行</p>
            <p>账 号：310066247018160085443</p>
            <p>上海汇款 坤玛行号：066247</p>
            <p>外地汇款 坤玛行号：301290050383</p>
        </div>
        <div class="title">
            <span class="line"></span
                    ><span>对私账号</span
                ><span class="line"></span>
        </div>
        <div class="account-info">
            <p>名称：陈雪梅</p>
            <p>开户行：农业银行闸北区马戏城支行</p>
            <p>账号：6228480030898902413</p>
        </div>
    </ion-content>
</ion-view>