<ion-view view-title="积分规则" id="integral-rule">
    <div id="addPage">
        <!-- 头部 -->
        <ion-header-bar align-title="center" class="kunmaColorBg">
            <a class="buttons left" ui-sref="tab.integral-withdraw">
                <i class="icon ion-chevron-left"></i>
            </a>
            <h1 class="title">提现规则</h1>
            <!-- <a class="buttons right">明细</a> -->
        </ion-header-bar>
        <!-- 正文 -->
        <ion-content>

            <div class="rule-content">
                <br>
                一、 1积分=1元人民币。  <br><br>
                二、下单成功购买产品每累计大于或等于一万元，即可获得一次提现的机会，最高可提现1000元，提现次数不可叠加，提现后重新计算。 <br><br>
                三、服务工程师每完成3次维修任务可获得一次提现的机会，最高可提现1000元，提现次数不可叠加，提现后重新计算。 <br><br>
                四、顾客消费金额中，不满100元部分不进行前后积分累计。 <br><br>
                五、如发生退款，将从积分中扣除退款金额相对应的积分。 <br><br>
                六、坤玛机电积分仅限商城用户个人提现消费使用，不可与其他用户之间进行交易流转互通。<br><br>
                七、发生退货时，个人原因产生的退货诉求，返还积分有效期1个月，过期将做作废处理，请知晓并及时使用。
            </div>
        </ion-content>
    </div>
</ion-view>
