<ion-view view-title="积分规则" id="integral-rule">
    <div id="addPage">
            <!-- 头部 -->
            <ion-header-bar align-title="center" class="kunmaColorBg">
                <a class="buttons left" ui-sref="tab.integral-me">
                    <i class="icon ion-chevron-left"></i>
                </a>
                <h1 class="title">积分规则</h1>
                <!-- <a class="buttons right">明细</a> -->
            </ion-header-bar>
            <!-- 正文 -->
            <ion-content>
                <div class="rule-title">
                    坤玛积分规则
                </div>
                <div class="rule-content">
                    一、 总则 <br>
                    1. 为更好地服务坤玛机电注册会员，特制定本章程。 2. 本规则适用于坤玛机电所有涉及积分兑换的交易流程。 3. 积分规则由坤玛机电制定并依据国家相关法律法规及规章制度予以解释和修改，规则以软件公布为准。 4. 本规则最终解释权归坤玛机电所有。 <br><br>
                    二、 积分获取方式 <br>
                    1. 登录摘取：+5积分 <br>
                    2. 注册：+200积分 <br>
                    3. 邀请码被注册：+10积分 <br>
                    4. 转发：+1积分（每日最高限额获得5积分） <br>
                    5. 产品经纪人、服务工程师认证：+300积分 <br>
                    6. 成交额1%。（即100元交易额可获得1积分） <br><br>
                    三、 兑换规则 <br>
                    1. 1积分=1元人民币。 <br>
                    2. 下单成功购买产品每累计大于或等于一万元，即可获得一次提现的机会，最高可提现1000元，提现次数不可叠加，提现后重新计算。 <br>
                    3. 服务工程师每完成3次维修任务可获得一次提现的机会，最高可提现1000元，提现次数不可叠加，提现后重新计算。 <br>
                    4. 顾客消费金额中，不满100元部分不进行前后积分累计。 <br>
                    5. 如发生退款，将从积分中扣除退款金额相对应的积分。 <br>
                    6. 坤玛机电积分仅限商城用户个人提现消费使用，不可与其他用户之间进行交易流转互通。 <br><br>
                    四、 积分查询 <br>
                    每位坤玛机电用户可以在您的账户中的“我的积分”中查询到您的积分情况。 <br><br>
                    五、积分过期 <br>
                    1.商城运营回馈积分有效期根据参与的营销活动规则执行，有使用有效期限制的回馈积分到期后将自动清零,请您在有效期内进行使用。 <br>
                    2.发生退货时，个人原因产生的退货诉求，返还积分有效期1个月，过期将做作废处理，请知晓并及时使用。
                </div>
            </ion-content>
        </div>
</ion-view>
