<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
       default-lazy-init="false">

    <context:annotation-config/>
    <!-- 普通类取得spring管理中的bean -->
    <bean class="com.planet.framework.SpringContextHolder" lazy-init="false"/>
    <!-- 普通类取得spring管理中的bean -->
    <bean class="org.springframework.web.client.RestTemplate" lazy-init="false"/>

    <!-- Activates scanning of @Repository, @Service, @Controller and @Component -->
    <context:component-scan base-package="com.planet"/>

    <!-- Enable @AspectJ support -->
    <aop:aspectj-autoproxy/>


    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver"/>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource">
    </bean>

    <!-- enables scanning for @Transactional annotations -->
    <tx:annotation-driven/>

    <!-- spring 定时器配置  -->
    <bean id="taskScheduler"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="50" />
    </bean>

    <!-- quarzt 定时器配置  -->
    <bean id="jobFactory" class="com.planet.scheduler.JobFactory"></bean>

    <bean id="scheduler"
          class="com.planet.scheduler.InitSchedulerFactory">
        <property name="jobFactory" ref="jobFactory"></property>
        <property name="configLocation" value="classpath:quartz.properties" />
    </bean>

    <!-- <bean id="cleanPruductDataScheduler"
          class="com.planet.scheduler.ProductCleanDataSchedulerFactory">
        <property name="jobFactory" ref="jobFactory"></property>
        <property name="configLocation" value="classpath:quartz.properties" />
    </bean>
    <bean id="cleanBrandDataScheduler"
          class="com.planet.scheduler.BrandCleanDataSchedulerFactory">
        <property name="jobFactory" ref="jobFactory"></property>
        <property name="configLocation" value="classpath:quartz.properties" />
    </bean> -->
</beans>