<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.planet.advertising.dao.AdvertisingMapper" >
  <resultMap id="BaseResultMap" type="com.planet.advertising.domain.Advertising" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="imgName" property="imgname" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="isUse" property="isuse" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, imgName, imgUrl, isUse, sort, createDate, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_advertising
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_advertising
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.planet.advertising.domain.Advertising" >
    insert into sys_advertising (ID, imgName, imgUrl, 
      isUse, sort, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{imgname,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{isuse,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.planet.advertising.domain.Advertising" >
    insert into sys_advertising
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgname != null" >
        imgName,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="isuse != null" >
        isUse,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgname != null" >
        #{imgname,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null" >
        #{isuse,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.planet.advertising.domain.Advertising" >
    update sys_advertising
    <set >
      <if test="imgname != null" >
        imgName = #{imgname,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null" >
        isUse = #{isuse,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.planet.advertising.domain.Advertising" >
    update sys_advertising
    set imgName = #{imgname,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="listPageAdvertising" parameterType="com.planet.advertising.domain.Advertising" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Sys_Advertising order by createDate Desc
  </select>

  <select id="selectAdvertisingList" parameterType="com.planet.advertising.domain.Advertising" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Sys_Advertising where isUse=1 and `type` = 0 ORDER BY sort,createDate DESC LIMIT 5
  </select>

  <select id="selectAdvertisingListByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Sys_Advertising where isUse=1 and type = #{type,jdbcType=INTEGER} ORDER BY sort,createDate DESC LIMIT 5
  </select>

</mapper>