<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.planet.quoquotation.dao.QuoQuotationMapper" >
  <resultMap id="BaseResultMap" type="com.planet.quoquotation.domain.QuoQuotation" >
    <id column="QID" property="qid" jdbcType="VARCHAR" />
    <result column="OID" property="oid" jdbcType="VARCHAR" />
    <result column="IID" property="iid" jdbcType="INTEGER" />
    <result column="CustName" property="custname" jdbcType="VARCHAR" />
    <result column="VIP" property="vip" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreateID" property="createid" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="BackDate" property="backdate" jdbcType="TIMESTAMP" />
    <result column="Bank" property="bank" jdbcType="VARCHAR" />
    <result column="Account" property="account" jdbcType="VARCHAR" />
    <result column="Tax" property="tax" jdbcType="VARCHAR" />
    <result column="InvoiceTitle" property="invoicetitle" jdbcType="VARCHAR" />
    <result column="CompanyTel" property="companytel" jdbcType="VARCHAR" />
    <result column="ReceiverTel" property="receivertel" jdbcType="VARCHAR" />
    <result column="Receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="InvoiceRemark" property="invoiceremark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    QID, OID,IID, CustName, VIP, Remark, CreateID, CreateDate, UID, Status, BackDate, Bank,
    Account, Tax,InvoiceTitle, CompanyTel, ReceiverTel, Receiver, Address,InvoiceRemark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Quo_Quotation
    where QID = #{qid,jdbcType=VARCHAR}
  </select>
  <select id="selectByOid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from Quo_Quotation
    where OID = #{oid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Quo_Quotation
    where QID = #{qid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.planet.quoquotation.domain.QuoQuotation" >
    insert into Quo_Quotation (QID, OID,IID, CustName,
      VIP, Remark, CreateID, 
      CreateDate, UID, Status, 
      BackDate, Bank, Account, 
      Tax,InvoiceTitle,CompanyTel, ReceiverTel,
      Receiver, Address,InvoiceRemark)
    values (#{qid,jdbcType=VARCHAR}, #{oid,jdbcType=VARCHAR}, #{iid,jdbcType=INTEGER}, #{custname,jdbcType=VARCHAR},
      #{vip,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createid,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{backdate,jdbcType=TIMESTAMP},#{invoicetitle,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
      #{tax,jdbcType=VARCHAR},#{tax,jdbcType=VARCHAR}, #{companytel,jdbcType=VARCHAR}, #{receivertel,jdbcType=VARCHAR},
      #{receiver,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},#{invoiceremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.planet.quoquotation.domain.QuoQuotation" >
    insert into Quo_Quotation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qid != null" >
        QID,
      </if>
      <if test="oid != null" >
        OID,
      </if>
      <if test="iid != null" >
        IID,
      </if>
      <if test="custname != null" >
        CustName,
      </if>
      <if test="vip != null" >
        VIP,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createid != null" >
        CreateID,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="backdate != null" >
        BackDate,
      </if>
      <if test="bank != null" >
        Bank,
      </if>
      <if test="account != null" >
        Account,
      </if>
      <if test="tax != null" >
        Tax,
      </if>
      <if test="invoicetitle != null">
        InvoiceTitle
      </if>
      <if test="companytel != null" >
        CompanyTel,
      </if>
      <if test="receivertel != null" >
        ReceiverTel,
      </if>
      <if test="receiver != null" >
        Receiver,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="invoiceremark != null" >
        InvoiceRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qid != null" >
        #{qid,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="custname != null" >
        #{custname,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="backdate != null" >
        #{backdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="invoicetitle != null">
        #{invoicetitle,jdbcType=VARCHAR},
      </if>
      <if test="companytel != null" >
        #{companytel,jdbcType=VARCHAR},
      </if>
      <if test="receivertel != null" >
        #{receivertel,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="invoiceremark != null" >
        #{invoiceremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.planet.quoquotation.domain.QuoQuotation" >
    update Quo_Quotation
    <set >
      <if test="oid != null" >
        OID = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="iid != null" >
        IID = #{iid,jdbcType=INTEGER},
      </if>
      <if test="custname != null" >
        CustName = #{custname,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        VIP = #{vip,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createid != null" >
        CreateID = #{createid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        UID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="backdate != null" >
        BackDate = #{backdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bank != null" >
        Bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        Account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        Tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="invoicetitle != null">
        InvoiceTitle = #{invoicetitle,jdbcType=VARCHAR},
      </if>
      <if test="companytel != null" >
        CompanyTel = #{companytel,jdbcType=VARCHAR},
      </if>
      <if test="receivertel != null" >
        ReceiverTel = #{receivertel,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        Receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        InvoiceRemark = #{invoiceremark,jdbcType=VARCHAR},
      </if>
    </set>
    where QID = #{qid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.planet.quoquotation.domain.QuoQuotation" >
    update Quo_Quotation
    set OID = #{oid,jdbcType=VARCHAR},
      IID = #{iid,jdbcType=VARCHAR},
      CustName = #{custname,jdbcType=VARCHAR},
      VIP = #{vip,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      CreateID = #{createid,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UID = #{uid,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER},
      BackDate = #{backdate,jdbcType=TIMESTAMP},
      Bank = #{bank,jdbcType=VARCHAR},
      Account = #{account,jdbcType=VARCHAR},
      Tax = #{tax,jdbcType=VARCHAR},
      TnvoiceTitle = #{invoicetitle,jdbcType=VARCHAR},
      CompanyTel = #{companytel,jdbcType=VARCHAR},
      ReceiverTel = #{receivertel,jdbcType=VARCHAR},
      Receiver = #{receiver,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      InvoiceRemark = #{invoiceremark,jdbcType=VARCHAR}
    where QID = #{qid,jdbcType=VARCHAR}
  </update>
</mapper>